---
- name: Install nginx
  xbps:
    pkg: nginx
    state: present

- name: Configure nginx
  copy:
    src: nginx.conf
    dest: /etc/nginx/
    owner: root
    group: root
    mode: 0644
  notify:
    - nginx

- name: Create the webroot
  file:
    path: /srv/www
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create sites-available
  file:
    path: /etc/nginx/sites-available
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create sites-enabled
  file:
    path: /etc/nginx/sites-enabled
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create locations.d
  file:
    path: /etc/nginx/locations.d
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Install dhparam.pem
  copy:
    src: dhparam.pem
    dest: /etc/nginx/dhparam.pem
    owner: root
    group: root
    mode: 0644
    
- name: Install site descriptors
  template:
    src: server.conf.j2
    dest: /etc/nginx/sites-available/{{ item.name }}.conf
    owner: root
    group: root
    mode: 0755
  with_items: "{{ nginx_servers }}"
  loop_control:
    label: "{{ item.name }}"
  when: nginx_servers is defined
  notify:
    - nginx

- name: Enable site descriptors
  file:
    src: /etc/nginx/sites-available/{{ item.name }}.conf
    dest: /etc/nginx/sites-enabled/{{ item.name }}.conf
    state: link
  with_items: "{{ nginx_servers }}"
  when: nginx_servers is defined and (item.enabled is not defined or item.enabled)
  loop_control:
    label: "{{ item.name }}"
  notify:
    - nginx

- name: Create sites locations.d directories
  file:
    path: /etc/nginx/locations.d/{{ item.name }}
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items: "{{ nginx_servers }}"
  when: nginx_servers is defined and (item.locationsd is not defined or item.locationsd)
  loop_control:
    label: "{{ item.name }}"
  notify:
    - nginx

- name: Enable nginx
  runit:
    name: nginx
    enabled: yes
    state: started

- name: Configure nginx firewall rules
  copy:
    src: nginx.rules
    dest: /etc/iptables.d/nginx.rules
    owner: root
    group: root
    mode: 0640
  notify:
    - iptables

- name: Configure nginx firewall rules
  copy:
    src: nginx.6rules
    dest: /etc/ip6tables.d/nginx.6rules
    owner: root
    group: root
    mode: 0640
  notify:
    - iptables
